[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
scipy = "*"
numpy = "<2"  # To avoid compatibility issues with TensorFlow
matplotlib = "*"
pillow = "*"
notebook = "*"
python-dotenv = "*"
imgviz = "*"
labelme = "*"
pydot = "*"
graphviz = "*"
uvicorn = "*"
fastapi = "*"
tensorflow = "*"

[dev-packages]
ipython = "*"
ipykernel = "*"
notebook = "*"

[requires]
python_version = "3.11"
