[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"
fastapi = "*"
tensorflow = "*"
numpy = "==1.25.0"
python-multipart = "*"
pillow = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.13"
